<nav class="ui blue inverted menu">
  <header class="header item"> <a href="/"> MyTweet </a> </header>
  <div class="right menu">
    <a id="home" class="item" href="/home"> Tweet </a>
    <a id="allusers" class="item" href="/allusers">Users</a>
    <a id="timeline" class="item" href="/timeline">Timeline</a>
    <a id="settings" class="item" href="/settings">Settings</a>
    <a id="logout" class="item" href="/logout">Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>