{{> adminmenu _id="adminhome"}}

<section class="ui segment">
  <div class="ui two column grid">
    <div class="column">
      <h4>Administrative Actions</h4>
      <div class="ui fluid form segment">
        <a href="/adminregister"><button class="ui fluid blue button">Register User</button></a>
      </div>
      <div class="ui fluid form segment">
        <a href="/adminusers"><button class="ui fluid blue button">Remove User</button></a>
      </div>
      <div class="ui fluid form segment">
        <a href="/admintimeline"><button class="ui fluid blue button">Remove Tweet</button></a>
      </div>
    </div>
    <div class="column">
      <h4>Statistics</h4>
      <div class="ui fluid form segment">
        <strong>Number of registered users:&nbsp&nbsp</strong> {{numusers}}
      </div>
      <div class="ui fluid form segment">
        <strong>Number of posted tweets:&nbsp&nbsp</strong> {{numtweets}}
      </div>
    </div>
  </div>
</section>