<nav class="ui blue inverted menu">
  <header class="header item"> <a href="/"> MyTweet </a> </header>
  <div class="right menu">
    <a class="active item" href="/adminlogin"> Admin Login</a>
  </div>
</nav>

<section class="ui raised segment">
  <div class="ui grid">
    <aside class="ui six wide column">
      <img src="images/welcomeTweety.jpg" class="ui medium image">
    </aside>
    <div class="ui ten wide column fluid form">
      <div class="ui stacked segment">
        <form action="/adminauth" method="POST">
          <h3 class="ui header">Administrator Log-in</h3>
          <div class="field">
            <label>Email</label> <input placeholder="Email" type="text"
                                        name="email">
          </div>
          <div class="field">
            <label>Password</label> <input type="password" name="password">
          </div>
          <button class="ui blue submit button">Login</button>
        </form>
        {{> formerror }}
      </div>
    </div>
  </div>
</section>
