{{> mainmenu _id="allusers"}}

<section class="ui segment">
  <div class="ui three column grid">
    <div class="three wide column">
    </div>
    <div class="twelve wide column">
      <h4>All Users</h4>
      <div class="ui cards">
        {{#each users}}
          <div class="blue card">
            <div class="content">
              <div class="header">{{firstName}} {{lastName}}</div>
              <div class="description">
                Email: {{email}} <br>
                Registration date: {{regdate}}
              </div>
            </div>
            <div class="extra content">
              <form action="/publictimeline/{{id}}" method=POST>
                <button class="ui fluid blue button">View {{ firstName }}'s timeline</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="one wide column">
    </div>
  </div>
</section>