{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/tweety.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> MyTweet</header>
      <p> The totally original microblog appplication - accept no substitute! </p>
    </article>
  </div>
</section>
