{{> timelinemenu }}

<section class="ui fluid form segment">
  <section class="ui fluid form segment">
    <h4>{{user.firstName}}'s Timeline - All {{user.firstName}}'s tweets</h4>
    <div class="ui feed">
      {{#each tweets}}
        <div class="event">
          <div class="content">
            <div class="date">
              <br>
              {{ date }}
            </div>
            <div class="extra text">
              {{ content }}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</section>