{{> mainmenu _id="timeline"}}

<section class="ui fluid form segment">
  <h4>Global Timeline - All tweets from all users</h4>
  <div class="ui feed">
    {{#each tweets}}
      <div class="event">
        <div class="content">
          <div class="date">
            <br>
            {{ date }}
          </div>
          <div class="summary">
            {{ tweetor.firstName }} {{ tweetor.lastName }} posted a tweet
          </div>
          <div class="extra text">
            {{ content }}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>